<%= form_for(@mailbuilder) do |f| %>
  <% if @mailbuilder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailbuilder.errors.count, "error") %> prohibited this mailbuilder from being saved:</h2>

      <ul>
      <% @mailbuilder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
